In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display
import random

### Quick overview of the tables

In [2]:
# Dataset: https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce

folder = "./../brazilian_ecommerce_rdb"

for filename in sorted(os.listdir(folder)):
    if filename.lower().endswith(".csv"):
        path = os.path.join(folder, filename)
        df = pd.read_csv(path)
        print(f"=== {filename} ===")
        display(df.head(3))
        print()

=== olist_customers_dataset.csv ===

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP

=== olist_geolocation_dataset.csv ===

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP

=== olist_order_items_dataset.csv ===

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.9,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.0,17.87

=== olist_order_payments_dataset.csv ===

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71

=== olist_order_reviews_dataset.csv ===

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24

=== olist_orders_dataset.csv ===

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00

=== olist_products_dataset.csv ===

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0

=== olist_sellers_dataset.csv ===

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ

=== product_category_name_translation.csv ===

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto

In [3]:
# Mapping from short name to file name
csv_mapping = {
    "customers": "olist_customers_dataset.csv",
    "geolocation": "olist_geolocation_dataset.csv",
    "order_items": "olist_order_items_dataset.csv",
    "order_payments": "olist_order_payments_dataset.csv",
    "order_reviews": "olist_order_reviews_dataset.csv",
    "orders": "olist_orders_dataset.csv",
    "products": "olist_products_dataset.csv",
    "sellers": "olist_sellers_dataset.csv",
    "product_category_translation": "product_category_name_translation.csv",
}

# Function to load a dataset by key
def load_dataset(key):
    if key not in csv_mapping:
        raise ValueError(f"Invalid key: {key}. Available keys are: {list(csv_mapping.keys())}")
    file_path = os.path.join(folder, csv_mapping[key])
    return pd.read_csv(file_path)

### Data simplifications
- Most customers transact only once. Ignore the customer view of the data.
- Ignore geolocation table, since 
- Unify all orders tables into 1 table (create a orderline primary key).
- Use 4 tables: orders, sellers, products, product category.
- Prediction tasks: 
    - regression: sum of order prices for a category during next x number of days, for a given random date (after 1st year).
    - classification: sum of order prices for a seller during next x days of days is positive, for a given random date (after 1st year)

In [4]:
# ORDERS DATASET
orders_df = load_dataset("orders")
orders_df = orders_df.loc[orders_df['order_status'] == 'delivered'].copy()  # Filter for delivered orders
orders_df.rename(columns={"order_purchase_timestamp": "create_date"}, inplace=True)
orders_df = orders_df[['order_id', 'create_date']].copy()
orders_df.head(3)

                           order_id          create_date
0  e481f51cbdc54678b7cc49136f2d6af7  2017-10-02 10:56:33
1  53cdb2fc8bc7dce0b6741e2150273451  2018-07-24 20:41:37
2  47770eb9100c2d0c44946d9cf07ec65d  2018-08-08 08:38:49

In [5]:
# CREATE A CATEGORY TABLE, AND REPLACE THE CATEGORY NAME IN PRODUCTS BY A CATEGORY ID
products_df = load_dataset("products")
categories_df = products_df[['product_category_name']].drop_duplicates().copy()
categories_df['category_id'] = range(1, 1+categories_df.shape[0])
products_df = products_df.merge(categories_df, on='product_category_name', how='left') 
products_df.drop(columns = ['product_category_name'], inplace=True)
products_df.sample(2)

,product_id,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,category_id
30853,82c56b8583385afa6570d84dfe063a0a,49.0,747.0,1.0,1250.0,16.0,10.0,16.0,11
30042,a8557b8cc2880e245f6e7b7dbb0cfb04,32.0,950.0,1.0,600.0,20.0,56.0,20.0,8

In [6]:
# CREATE A UNIQUE ORDER ITEM ID, and add create date from orders, and add category_id from products.
order_items_df = load_dataset("order_items")
order_items_df['order_item_id'] = order_items_df['order_id'].astype(str) + '_' + order_items_df['order_item_id'].astype(str)
order_items_df = order_items_df[['order_id', 'order_item_id', 'product_id', 'seller_id', 'price']].copy()
order_items_df = order_items_df.merge(orders_df[['order_id', 'create_date']], on='order_id', how='left')
order_items_df = order_items_df.merge(products_df[['product_id', 'category_id']], on='product_id', how='left')
order_items_df.head(3)

,order_id,order_item_id,product_id,seller_id,price,create_date,category_id
0,00010242fe8c5a6d1ba2dd792cb16214,00010242fe8c5a6d1ba2dd792cb16214_1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.9,2017-09-13 08:59:02,7
1,00018f77f2f0320c557190d7a144bdd3,00018f77f2f0320c557190d7a144bdd3_1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,239.9,2017-04-26 10:53:06,28
2,000229ec398224ef6ca0657da4fc703e,000229ec398224ef6ca0657da4fc703e_1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,199.0,2018-01-14 14:33:31,8

In [7]:
order_reviews_df = load_dataset("order_reviews")
sellers_df = load_dataset("sellers")

In [8]:
display(order_items_df.head(2))
display(orders_df.head(2))
display(order_reviews_df.head(2))
display(sellers_df.head(2))
display(products_df.head(2))
display(categories_df.head(2))

,order_id,order_item_id,product_id,seller_id,price,create_date,category_id
0,00010242fe8c5a6d1ba2dd792cb16214,00010242fe8c5a6d1ba2dd792cb16214_1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.9,2017-09-13 08:59:02,7
1,00018f77f2f0320c557190d7a144bdd3,00018f77f2f0320c557190d7a144bdd3_1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,239.9,2017-04-26 10:53:06,28

                           order_id          create_date
0  e481f51cbdc54678b7cc49136f2d6af7  2017-10-02 10:56:33
1  53cdb2fc8bc7dce0b6741e2150273451  2018-07-24 20:41:37

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP

,product_id,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,category_id
0,1e9e8ef04dbcff4541ed26657ea517e5,40.0,287.0,1.0,225.0,16.0,10.0,14.0,1
1,3aa071139cb16b67ca9e5dea641aaa2f,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,2

  product_category_name  category_id
0            perfumaria            1
1                 artes            2

In [9]:
import kumoai.experimental.rfm as rfm, os
from pathlib import Path

In [10]:
home_api_key_file = Path.home() / "kumoai_key.txt"
with open(home_api_key_file, "r") as file:
    api_key = file.read().strip()
os.environ["KUMO_API_KEY"] = api_key

In [11]:
rfm.init()

[2025-08-14 14:18:54 - kumoai:196 - INFO] Successfully initialized the Kumo SDK against deployment https://kumorfm.ai/api, with log level INFO.

In [12]:
sellers = rfm.LocalTable(sellers_df, name="sellers", primary_key="seller_id")

In [13]:
#sellers.print_metadata()

In [14]:
products = rfm.LocalTable(products_df, name="products", primary_key="product_id")

In [15]:
#products.print_metadata()

In [16]:
orders = rfm.LocalTable(orders_df, name="orders", primary_key="order_id", time_column="create_date")

In [17]:
#orders.print_metadata()

In [18]:
order_items = rfm.LocalTable(order_items_df, name="order_items", primary_key="order_item_id", time_column="create_date")

In [19]:
#order_items.print_metadata()

In [20]:
reviews = rfm.LocalTable(order_reviews_df, name="reviews", primary_key="review_id", time_column="review_creation_date")

In [21]:
#reviews.print_metadata()

In [22]:
categories = rfm.LocalTable(categories_df, name="categories", primary_key="category_id")

In [23]:
#categories.print_metadata()

In [24]:
graph = rfm.LocalGraph(tables=[orders, order_items, reviews, sellers, products, categories])

In [25]:
# display(order_items_df.head(1))
# display(orders_df.head(1))
# display(order_reviews_df.head(1))
# display(sellers_df.head(1))
# display(products_df.head(1))
# display(categories_df.head(1))

In [26]:
graph.link(src_table="order_items", fkey="order_id", dst_table="orders");
graph.link(src_table="reviews", fkey="order_id", dst_table="orders");
graph.link(src_table="order_items", fkey="seller_id", dst_table="sellers");
graph.link(src_table="order_items", fkey="product_id", dst_table="products");
graph.link(src_table="order_items", fkey="category_id", dst_table="categories");
graph.link(src_table="products", fkey="category_id", dst_table="categories");

In [108]:
order_items_df.head(3)

,order_id,order_item_id,product_id,seller_id,price,create_date,category_id
0,00010242fe8c5a6d1ba2dd792cb16214,00010242fe8c5a6d1ba2dd792cb16214_1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.9,2017-09-13 08:59:02,7
1,00018f77f2f0320c557190d7a144bdd3,00018f77f2f0320c557190d7a144bdd3_1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,239.9,2017-04-26 10:53:06,28
2,000229ec398224ef6ca0657da4fc703e,000229ec398224ef6ca0657da4fc703e_1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,199.0,2018-01-14 14:33:31,8

In [27]:
graph.print_links()

###  Graph Links (FK  PK)

- `order_items.category_id`  `categories.category_id`
- `products.category_id`  `categories.category_id`
- `order_items.order_id`  `orders.order_id`
- `reviews.order_id`  `orders.order_id`
- `order_items.product_id`  `products.product_id`
- `order_items.seller_id`  `sellers.seller_id`

In [28]:
model = rfm.KumoRFM(graph, verbose=False)

- Pick a random date between "2017-08-15" and "2018-07-15"
- Pick a random product category: 71 in the products table.
- Pick a random seller id: 3095 in the sellers table.
- Given a date and an entity (seller or product category), and a number of days (e.g., 5, 10, 20):
    - take N the last disjoint and consecutive periods, and predict the average for the following period.
- If if N=3, and days=10, and date="2018-06-15", then take the periods:
    - ["2018-06-05" to "2018-06-15")
    - ["2018-05-26" to "2018-06-05")
    - ["2018-05-16" to "2018-05-26")
    - and predict the average for the period: ["2018-06-15" to "2018-06-25")
    - The prediction can be regression (the average) sum of prices, or classification the average number of periods with sales > 0.
    - The prediction can be at seller level (if the seller will have sales or not), or at category level (the total sales for the category).

In [30]:
data_for_bench = order_items_df[['create_date','seller_id', 'category_id', 'price']].copy()
data_for_bench.head(3)

           create_date                         seller_id  category_id  price
0  2017-09-13 08:59:02  48436dade18ac8b2bce089ec2a041202            7   58.9
1  2017-04-26 10:53:06  dd7ddc04e1b6c2c614352b383efe2d36           28  239.9
2  2018-01-14 14:33:31  5b51032eddd242adc84c38acab88f23d            8  199.0

In [31]:
print(data_for_bench.shape[0], 
      data_for_bench.category_id.nunique(), 
      data_for_bench.seller_id.nunique())

data_for_bench.sample(3)

112650 74 3095

,create_date,seller_id,category_id,price
87452,2018-01-23 17:23:54,6a8b085f816a1f75f92dbac6eb545f8f,18,49.90
8675,2018-08-21 19:12:04,2138ccb85b11a4ec1e37afbd1c8eda1f,21,34.99
73789,2018-03-13 21:39:26,70a12e78e608ac31179aea7f8422044b,13,230.00

In [32]:
test_period_start = pd.Timestamp("2017-08-15")
test_period_ends = pd.Timestamp("2018-07-15")

In [ ]:
def regression_bench_multi(df, prod_cats, dt, days, p):
    ts_col = 'create_date'
    cat_col = 'category_id'
    price_col = 'price'

    dt = pd.Timestamp(dt)
    days_td = pd.Timedelta(days=days)

    df = df.copy()
    df[ts_col] = pd.to_datetime(df[ts_col])

    # Keep only needed categories and times (p windows back to dt, plus the actual window)
    hist_start = dt - p * days_td
    actual_end = dt + days_td

    sub = df.loc[
        df[cat_col].isin(prod_cats) &
        (df[ts_col] >= hist_start) &
        (df[ts_col] <= actual_end),
        [ts_col, cat_col, price_col]
    ]

    # ---- Actual: (dt, dt+days] ----
    actual_mask = (sub[ts_col] > dt) & (sub[ts_col] <= actual_end)
    s_actual = sub.loc[actual_mask].groupby(cat_col)[price_col].sum()

    # ---- Estimate: average over p back-to-back windows [start_i, end_i) ----
    sums_per_win = []
    for i in range(1, p + 1):
        start_i = dt - i * days_td
        end_i = dt - (i - 1) * days_td
        m = (sub[ts_col] >= start_i) & (sub[ts_col] < end_i)
        sums_per_win.append(sub.loc[m].groupby(cat_col)[price_col].sum())

    if sums_per_win:
        est_df = pd.concat(sums_per_win, axis=1).fillna(0.0)   # each column = one windows sums
        s_estimate = est_df.mean(axis=1)                       # average over windows per category
    else:
        s_estimate = pd.Series(0.0, index=pd.Index([], name=cat_col))

    # ---- Assemble result for requested categories (fill missing with 0) ----
    out = pd.DataFrame({cat_col: prod_cats}).set_index(cat_col)
    out['actual'] = s_actual.reindex(out.index).fillna(0.0).astype(float)
    out['estimate'] = s_estimate.reindex(out.index).fillna(0.0).astype(float)
    return out.reset_index()



def classification_bench_multi(df, seller_ids_samp, dt, days, p):
    ts_col = 'create_date'
    seller_col = 'seller_id'
    price_col = 'price'

    dt = pd.Timestamp(dt)
    days_td = pd.Timedelta(days=days)

    df = df.copy()
    df[ts_col] = pd.to_datetime(df[ts_col])

    hist_start = dt - p * days_td
    actual_end = dt + days_td

    # Keep only needed sellers and relevant time span
    sub = df.loc[
        df[seller_col].isin(seller_ids_samp) &
        (df[ts_col] >= hist_start) &
        (df[ts_col] <= actual_end),
        [ts_col, seller_col, price_col]
    ]

    # ---- Actual: (dt, dt+days]  activity = 1 if sum(price)>0 ----
    m_actual = (sub[ts_col] > dt) & (sub[ts_col] <= actual_end)
    s_actual_sum = sub.loc[m_actual].groupby(seller_col)[price_col].sum()
    s_actual = (s_actual_sum > 0).astype(int)

    # ---- Estimate: average over p windows [start_i, end_i) of indicator(sum(price)>0) ----
    per_window = []
    for i in range(1, p + 1):
        start_i = dt - i * days_td
        end_i = dt - (i - 1) * days_td
        m = (sub[ts_col] >= start_i) & (sub[ts_col] < end_i)
        s_sum = sub.loc[m].groupby(seller_col)[price_col].sum()
        per_window.append((s_sum > 0).astype(int))

    if per_window:
        est_df = pd.concat(per_window, axis=1).fillna(0)  # each column = one window
        s_estimate = est_df.mean(axis=1)
    else:
        s_estimate = pd.Series([], dtype=float, index=pd.Index([], name=seller_col))

    # ---- Assemble output for requested seller_ids_samp (fill missing with 0) ----
    out = pd.DataFrame({seller_col: seller_ids_samp}).set_index(seller_col)
    out['actual'] = s_actual.reindex(out.index).fillna(0).astype(int)
    out['estimate'] = s_estimate.reindex(out.index).fillna(0.0).astype(float)
    return out.reset_index()

In [95]:
prod_cats =  tuple(set(categories_df.category_id))

bench_errors = []
kumo_errors = []

for i in range(100):

    rnd_dt = test_period_start + pd.to_timedelta(np.random.rand() * (test_period_ends - test_period_start))
    days = 30
    p = 12

    output = regression_bench_multi(data_for_bench, prod_cats, rnd_dt, days, p)
    query = f"""PREDICT sum(order_items.price, 0, {days}, days) FOR categories.category_id in {prod_cats} """
    kumo_pred = model.predict(query, anchor_time=rnd_dt, verbose=False, num_hops=6)

    output.rename(columns = {'category_id': 'ENTITY', 'estimate':'estimate_bench'}, inplace=True)
    kumo_pred.rename(columns = {'TARGET_PRED':'estimate_kumo'}, inplace=True)
    actuals_and_estimates = output.merge(kumo_pred[['ENTITY', 'estimate_kumo']])
    actuals_and_estimates['abs_error_bench'] = abs(actuals_and_estimates['actual'] - actuals_and_estimates['estimate_bench'])
    actuals_and_estimates['abs_error_kumo'] = abs(actuals_and_estimates['actual'] - actuals_and_estimates['estimate_kumo'])

    bench_errors.extend(list(actuals_and_estimates.abs_error_bench))
    kumo_errors.extend(list(actuals_and_estimates.abs_error_kumo))

    if i % 10 == 0:
        print(i)

0
10
20
30
40
50
60
70
80
90

In [96]:
len(bench_errors), len(kumo_errors)

(7400, 7400)

In [98]:
print(np.mean(bench_errors))
print(np.mean(kumo_errors))

print(np.sqrt(np.mean([x**2 for x in bench_errors])))
print(np.sqrt(np.mean([x**2 for x in kumo_errors])))

4872.324135810812
5283.116798790968
10635.498033663207
10858.966649432756

In [99]:

seller_ids =  list(set(sellers_df.seller_id))

bench_errors = []
kumo_errors = []

for i in range(2):

    rnd_dt = test_period_start + pd.to_timedelta(np.random.rand() * (test_period_ends - test_period_start))
    seller_ids_samp =  tuple(random.sample(seller_ids,100))
    p = 12
    days = 30

    #output = regression_bench(data_for_bench, category, rnd_dt, days, p)
    output = classification_bench_multi(data_for_bench, seller_ids_samp, rnd_dt, days, p)

    query = f"""PREDICT sum(order_items.price, 0, {days}, days)>0 FOR sellers.seller_id in {seller_ids_samp} """
    kumo_pred = model.predict(query, anchor_time=rnd_dt, verbose=False, num_hops=6)

    output.rename(columns = {'seller_id': 'ENTITY', 'estimate':'estimate_bench'}, inplace=True)
    kumo_pred.rename(columns = {'True_PROB':'estimate_kumo'}, inplace=True)
    actuals_and_estimates = output.merge(kumo_pred[['ENTITY', 'estimate_kumo']])
    actuals_and_estimates['estimate_bench'] = np.round(actuals_and_estimates['estimate_bench'])
    actuals_and_estimates['estimate_kumo'] = np.round(actuals_and_estimates['estimate_kumo'])    
    actuals_and_estimates['abs_error_bench'] = abs(actuals_and_estimates['actual'] - actuals_and_estimates['estimate_bench'])
    actuals_and_estimates['abs_error_kumo'] = abs(actuals_and_estimates['actual'] - actuals_and_estimates['estimate_kumo'])

    bench_errors.extend(list(actuals_and_estimates.abs_error_bench))
    kumo_errors.extend(list(actuals_and_estimates.abs_error_kumo))

    if i % 10 == 0:
        print(i)

0

In [100]:
len(bench_errors), len(kumo_errors)

(200, 200)

In [101]:
print(np.mean(bench_errors))
print(np.mean(kumo_errors))

0.23
0.165

In [106]:
actuals_and_estimates.describe()

,actual,estimate_bench,estimate_kumo,abs_error_bench,abs_error_kumo
count,100.000000,100.000000,100.000000,100.000000,100.000000
mean,0.410000,0.230000,0.340000,0.280000,0.230000
std,0.494311,0.422953,0.476095,0.451261,0.422953
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,0.000000,1.000000,1.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000