In [99]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display
import random


# Dataset: https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce

folder = "./../brazilian_ecommerce_rdb"


for filename in sorted(os.listdir(folder)):
    if filename.lower().endswith(".csv"):
        path = os.path.join(folder, filename)
        df = pd.read_csv(path)
        print(f"=== {filename} ===")
        display(df.head(3))
        print()

=== olist_customers_dataset.csv ===

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP

=== olist_geolocation_dataset.csv ===

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP

=== olist_order_items_dataset.csv ===

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.9,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.0,17.87

=== olist_order_payments_dataset.csv ===

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71

=== olist_order_reviews_dataset.csv ===

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24

=== olist_orders_dataset.csv ===

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00

=== olist_products_dataset.csv ===

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0

=== olist_sellers_dataset.csv ===

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ

=== product_category_name_translation.csv ===

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto

In [11]:
# Mapping from short name to file name
csv_mapping = {
    "customers": "olist_customers_dataset.csv",
    "geolocation": "olist_geolocation_dataset.csv",
    "order_items": "olist_order_items_dataset.csv",
    "order_payments": "olist_order_payments_dataset.csv",
    "order_reviews": "olist_order_reviews_dataset.csv",
    "orders": "olist_orders_dataset.csv",
    "products": "olist_products_dataset.csv",
    "sellers": "olist_sellers_dataset.csv",
    "product_category_translation": "product_category_name_translation.csv",
}

# Function to load a dataset by key
def load_dataset(key):
    if key not in csv_mapping:
        raise ValueError(f"Invalid key: {key}. Available keys are: {list(csv_mapping.keys())}")
    file_path = os.path.join(folder, csv_mapping[key])
    return pd.read_csv(file_path)

In [257]:
# Ignore reviews.
# Ignore payments.
# Ignore geolocation.

# Join product category name translation to products dataset, and use the English category name.
# Then ignore product category name translation.

# ONLY WORK WITH: PRODUCTS, ORDERS, ORDER_ITEMS, SELLERS, CUSTOMERS.
products = load_dataset("products")
product_category_translation = load_dataset("product_category_translation")
products = products.merge(product_category_translation, on="product_category_name", how="left")   
products.drop(columns = ['product_category_name'], inplace=True)
products.rename(columns={"product_category_name_english": "product_category_name"}, inplace=True)
products = products[['product_id', 'product_category_name']].copy()
products.head(3)

                         product_id product_category_name
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumery
1  3aa071139cb16b67ca9e5dea641aaa2f                   art
2  96bd76ec8810374ed1b65e291975717f        sports_leisure

In [301]:
orders = load_dataset("orders")
orders = orders[['order_id', 'customer_id', 'order_purchase_timestamp', 'order_status']].copy()
orders = orders.loc[orders['order_status'] == 'delivered'].copy()  # Filter for delivered orders
orders.drop(columns=['order_status'], inplace=True)
orders.head(3)

,order_id,customer_id,order_purchase_timestamp
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:37
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,2018-08-08 08:38:49

In [302]:
order_items = load_dataset("order_items")
order_items = order_items[['order_id', 'order_item_id', 'product_id', 'seller_id', 'price']].copy()
order_items.head(3)

,order_id,order_item_id,product_id,seller_id,price
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.9
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,239.9
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,199.0

In [303]:
customers = load_dataset("customers")
customers = customers[['customer_id', 'customer_unique_id', 'customer_state', 'customer_city']].copy()
customers.rename(columns={"customer_state":"state", "customer_city": "city"}, inplace=True)
customers.head(3)

,customer_id,customer_unique_id,state,city
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,SP,franca
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,SP,sao bernardo do campo
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,SP,sao paulo

In [304]:
sellers = load_dataset("sellers")
sellers = sellers[['seller_id', 'seller_city', 'seller_state']].copy()
sellers.rename(columns={"seller_city": "city", "seller_state": "state"}, inplace=True)
sellers.head(3)

                          seller_id            city state
0  3442f8959a84dea7ee197c632cb2df15        campinas    SP
1  d1b65fc7debc3361ea86b5f14c68d2e2      mogi guacu    SP
2  ce3ad9de960102d0677a81f5d0bb7b2d  rio de janeiro    RJ

In [305]:
orders.dtypes

order_id                    object
customer_id                 object
order_purchase_timestamp    object
dtype: object

In [306]:
orders.order_purchase_timestamp.min(), orders.order_purchase_timestamp.max()

('2016-09-15 12:16:38', '2018-08-29 15:00:37')

- Pick a random date between "2017-08-15" and "2018-07-15"
- Pick a random product category: 71 in the products table.
- Pick a random seller id: 3095 in the sellers table.
- Given a date and an entity (seller or product category), and a number of days (e.g., 5, 10, 20):
    - take N the last disjoint and consecutive periods, and predict the average for the following period.
- If if N=3, and days=10, and date="2018-06-15", then take the periods:
    - ["2018-06-05" to "2018-06-15")
    - ["2018-05-26" to "2018-06-05")
    - ["2018-05-16" to "2018-05-26")
    - and predict the average for the period: ["2018-06-15" to "2018-06-25")
    - The prediction can be regression (the average) sum of prices, or classification the average number of periods with sales > 0.
    - The prediction can be at seller level (if the seller will have sales or not), or at category level (the total sales for the category).

In [307]:
all_data = orders.merge(order_items, on='order_id', how='left') \
    .merge(products, on='product_id', how='left')
all_data = all_data[['order_purchase_timestamp','seller_id', 'product_category_name', 'price']].copy()

In [308]:
print(all_data.shape[0], 
      all_data.product_category_name.nunique(), 
      all_data.seller_id.nunique())

all_data.sample(10)

110197 71 2970

,order_purchase_timestamp,seller_id,product_category_name,price
62008,2017-06-14 14:01:36,897060da8b9a21f655304d50fd935913,computers_accessories,22.00
84483,2018-07-07 13:21:34,e9779976487b77c6d4ac45f75ec7afe9,sports_leisure,19.49
107151,2017-08-02 08:58:27,262237171f48e85819065498cac80d7b,sports_leisure,59.90
39300,2017-03-05 14:27:03,669ae81880e08f269a64487cfb287169,sports_leisure,65.00
81383,2018-03-16 16:34:44,04308b1ee57b6625f47df1d56f00eedf,health_beauty,529.90
81005,2017-07-26 00:44:07,dd533b429f380718b70ad9922c294bae,toys,129.90
62949,2017-02-17 17:46:01,b2ba3715d723d245138f291a6fe42594,stationery,219.90
39909,2018-06-22 12:06:01,391fc6631aebcf3004804e51b40bcf1e,bed_bath_table,49.95
66310,2018-03-09 11:21:11,d3f39f05462b79a4562d35893a28f159,health_beauty,78.00
11463,2017-07-31 09:45:12,b2ba3715d723d245138f291a6fe42594,toys,469.90

In [309]:
all_data.columns

Index(['order_purchase_timestamp', 'seller_id', 'product_category_name',
       'price'],
      dtype='object')

In [310]:
test_period_start = pd.Timestamp("2017-08-15")
test_period_ends = pd.Timestamp("2018-07-15")

In [311]:

def regression_bench(df, category, dt, days, p):
    ts_col = 'order_purchase_timestamp'
    cat_col = 'product_category_name'
    price_col = 'price'

    dt = pd.Timestamp(dt)
    days_td = pd.Timedelta(days=days)

    # Ensure timestamp dtype (simple, no exceptions handling)
    df = df.copy()
    df[ts_col] = pd.to_datetime(df[ts_col])

    # Time bounds we need to scan: from the start of the earliest historical window up to actual_end
    hist_start = dt - p * days_td
    actual_end = dt + days_td

    # Filter to category + relevant time range
    sub = df.loc[
        (df[cat_col] == category) &
        (df[ts_col] >= hist_start) &
        (df[ts_col] <= actual_end),  # include right edge for the actual's ( , ] window
        [ts_col, price_col]
    ]

    # ---- Print intervals ----
    #print("Estimation windows (p previous, non-overlapping):")
    for i in range(1, p + 1):
        start_i = dt - i * days_td
        end_i = dt - (i - 1) * days_td
        #print(f"  [{start_i}, {end_i})")

    #print("Actual window:")
    #print(f"  ({dt}, {actual_end}]")

    # ---- Compute actual: (dt, dt+days] ----
    actual_mask = (sub[ts_col] > dt) & (sub[ts_col] <= actual_end)
    actual_value = float(sub.loc[actual_mask, price_col].sum())

    # ---- Compute estimate: average over p windows [start_i, end_i) ----
    sums = []
    for i in range(1, p + 1):
        start_i = dt - i * days_td
        end_i = dt - (i - 1) * days_td
        m = (sub[ts_col] >= start_i) & (sub[ts_col] < end_i)
        sums.append(float(sub.loc[m, price_col].sum()))
    estimate = sum(sums) / p if p > 0 else float('nan')

    return {"actual": actual_value, "estimate": estimate}


def classification_bench(df, seller, dt, days, p):
    ts_col = 'order_purchase_timestamp'
    cat_col = 'seller_id'
    price_col = 'price'

    dt = pd.Timestamp(dt)
    days_td = pd.Timedelta(days=days)

    # Ensure timestamp dtype (simple, no exceptions handling)
    df = df.copy()
    df[ts_col] = pd.to_datetime(df[ts_col])

    # Time bounds we need to scan: from the start of the earliest historical window up to actual_end
    hist_start = dt - p * days_td
    actual_end = dt + days_td

    # Filter to category + relevant time range
    sub = df.loc[
        (df[cat_col] == seller) &
        (df[ts_col] >= hist_start) &
        (df[ts_col] <= actual_end),  # include right edge for the actual's ( , ] window
        [ts_col, price_col]
    ]

    # ---- Print intervals ----
    #print("Estimation windows (p previous, non-overlapping):")
    for i in range(1, p + 1):
        start_i = dt - i * days_td
        end_i = dt - (i - 1) * days_td
        #print(f"  [{start_i}, {end_i})")

    #print("Actual window:")
    #print(f"  ({dt}, {actual_end}]")

    # ---- Compute actual: (dt, dt+days] ----
    actual_mask = (sub[ts_col] > dt) & (sub[ts_col] <= actual_end)
    actual_value = 1*(float(sub.loc[actual_mask, price_col].sum())>0)

    # ---- Compute estimate: average over p windows [start_i, end_i) ----
    sums = []
    for i in range(1, p + 1):
        start_i = dt - i * days_td
        end_i = dt - (i - 1) * days_td
        m = (sub[ts_col] >= start_i) & (sub[ts_col] < end_i)
        sums.append(1*(float(sub.loc[m, price_col].sum()>0)))
    estimate = sum(sums) / p if p > 0 else float('nan')

    return {"actual": actual_value, "estimate": estimate}

In [312]:
rnd_dt = test_period_start + pd.to_timedelta(np.random.rand() * (test_period_ends - test_period_start))
prod_cats =  list(set(products.product_category_name))
category = random.choice(prod_cats)
days = 30
p = 12

output = regression_bench(all_data, category, rnd_dt, days, p)

In [313]:
rnd_dt = test_period_start + pd.to_timedelta(np.random.rand() * (test_period_ends - test_period_start))
seller_ids =  list(set(sellers.seller_id))
seller = random.choice(seller_ids)
p = 3
days = 60

output = classification_bench(all_data, seller, rnd_dt, days, p)

In [314]:
# dt_a_0, dt_a_1 = "2018-04-27 00:00:16", "2018-06-26 00:00:16"
# dt_b_0, dt_b_1 = "2018-02-26 00:00:16", "2018-04-27 00:00:16"
# dt_c_0, dt_c_1 = "2017-12-28 00:00:16", "2018-02-26 00:00:16"
# dt_d_0, dt_d_1 = "2018-06-26 00:00:16", "2018-08-25 00:00:16"

# a = all_data.loc[(all_data.seller_id==seller)&\
#              (pd.to_datetime(all_data['order_purchase_timestamp'])>=pd.Timestamp(dt_a_0))&\
#              (pd.to_datetime(all_data['order_purchase_timestamp'])<pd.Timestamp(dt_a_1))]['price'].sum()

# b = all_data.loc[(all_data.seller_id==seller)&\
#              (pd.to_datetime(all_data['order_purchase_timestamp'])>=pd.Timestamp(dt_b_0))&\
#              (pd.to_datetime(all_data['order_purchase_timestamp'])<pd.Timestamp(dt_b_1))]['price'].sum()

# c = all_data.loc[(all_data.seller_id==seller)&\
#              (pd.to_datetime(all_data['order_purchase_timestamp'])>=pd.Timestamp(dt_c_0))&\
#              (pd.to_datetime(all_data['order_purchase_timestamp'])<pd.Timestamp(dt_c_1))]['price'].sum()

# d = all_data.loc[(all_data.seller_id==seller)&\
#              (pd.to_datetime(all_data['order_purchase_timestamp'])>=pd.Timestamp(dt_d_0))&\
#              (pd.to_datetime(all_data['order_purchase_timestamp'])<pd.Timestamp(dt_d_1))]['price'].sum()

# (1*(a>0)+1*(b>0)+1*(c>0))/3, 1*(d>0)

In [315]:
order_items['order_item_id'] = order_items['order_id'].astype(str) + '_' + order_items['order_item_id'].astype(str)

In [316]:
display(orders.head(1))
display(order_items.head(1))
display(customers.head(1))
display(sellers.head(1))
display(products.head(1))

,order_id,customer_id,order_purchase_timestamp
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33

,order_id,order_item_id,product_id,seller_id,price
0,00010242fe8c5a6d1ba2dd792cb16214,00010242fe8c5a6d1ba2dd792cb16214_1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.9

,customer_id,customer_unique_id,state,city
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,SP,franca

                          seller_id      city state
0  3442f8959a84dea7ee197c632cb2df15  campinas    SP

                         product_id product_category_name
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumery

In [317]:
import kumoai.experimental.rfm as rfm, os
from pathlib import Path

In [318]:
home_api_key_file = Path.home() / "kumoai_key.txt"
with open(home_api_key_file, "r") as file:
    api_key = file.read().strip()
os.environ["KUMO_API_KEY"] = api_key

In [319]:
rfm.init()

Client has already been created. To re-initialize Kumo, please start a new interpreter. No changes will be made to the current session.

In [320]:
sellers2 = rfm.LocalTable(sellers, name="sellers2", primary_key="seller_id")
sellers2.print_metadata()

###  Metadata of Table `sellers2` (3,095 rows)

In [321]:
products2 = rfm.LocalTable(products, name="products2", primary_key="product_id")
products2.print_metadata()

###  Metadata of Table `products2` (32,951 rows)

In [322]:
customers2 = rfm.LocalTable(customers, name="customers2", primary_key="customer_id")
customers2.print_metadata()

###  Metadata of Table `customers2` (99,441 rows)

In [323]:
orders.rename(columns={"order_purchase_timestamp": "create_date"}, inplace=True)
#orders2 = rfm.LocalTable(orders, name="orders2", primary_key="order_id", time_column="create_date")
#orders2.print_metadata()

In [324]:
order_items = order_items.merge(orders, on='order_id', how='left')
order_items = order_items.merge(products, left_on='product_id', right_on='product_id', how='left')
order_items.drop(columns=['order_id'], inplace=True)
order_items2 = rfm.LocalTable(order_items, name="order_items2", primary_key="order_item_id", time_column="create_date")
order_items2.print_metadata()

###  Metadata of Table `order_items2` (112,650 rows)

In [325]:
categories = products[['product_category_name']].drop_duplicates().copy()
categories.columns = ['category']
categories2 = rfm.LocalTable(categories, name="categories2", primary_key="category")
categories2.print_metadata()

###  Metadata of Table `categories2` (72 rows)

In [327]:
graph = rfm.LocalGraph(tables=[order_items2, customers2, sellers2, products2, categories2])

In [328]:
#graph.link(src_table="order_items2", fkey="order_id", dst_table="orders2");
graph.link(src_table="order_items2", fkey="customer_id", dst_table="customers2");
graph.link(src_table="order_items2", fkey="product_id", dst_table="products2");
graph.link(src_table="order_items2", fkey="seller_id", dst_table="sellers2");
graph.link(src_table="order_items2", fkey="product_category_name", dst_table="categories2");
graph.link(src_table="products2", fkey="product_category_name", dst_table="categories2");

In [329]:
graph.print_links()

###  Graph Links (FK  PK)

- `order_items2.product_category_name`  `categories2.category`
- `products2.product_category_name`  `categories2.category`
- `order_items2.customer_id`  `customers2.customer_id`
- `order_items2.product_id`  `products2.product_id`
- `order_items2.seller_id`  `sellers2.seller_id`

In [330]:
model = rfm.KumoRFM(graph, verbose=False)

In [358]:
bench_errors = []
kumo_errors = []

for i in range(100):

    rnd_dt = test_period_start + pd.to_timedelta(np.random.rand() * (test_period_ends - test_period_start))
    prod_cats =  list(set(products.product_category_name))
    category = random.choice(prod_cats)
    days = 30
    p = 12

    output = regression_bench(all_data, category, rnd_dt, days, p)

    query = f"""PREDICT sum(order_items2.price, 0, {days}, days) FOR categories2.category = '{category}' """
    kumo_pred = model.predict(query, anchor_time=rnd_dt, verbose=False, num_hops=4)

    actual = output['actual']
    estimate_bench = output['estimate']
    estimate_kumo = kumo_pred['TARGET_PRED'].values[0]

    bench_errors.append(abs(actual - estimate_bench))
    kumo_errors.append(abs(actual - estimate_kumo))

    if i % 10 == 0:
        print(i)

0
10
20
30
40
50

KeyError: "The primary keys ['nan'] do not exist in the 'categories2' table"

In [359]:
print(np.mean(bench_errors))
print(np.mean(kumo_errors))

print(np.sqrt(np.mean([x**2 for x in bench_errors])))
print(np.sqrt(np.mean([x**2 for x in kumo_errors])))

4285.705709876544
5022.729799954449
11108.95279801659
11599.56420976196

In [ ]:
5172.763341666667
5655.771399597168
10709.12856922111
11284.09264923088

{'actual': 43124.79000000001, 'estimate': 54775.67583333332}

In [369]:
bench_errors = []
kumo_errors = []

for i in range(100):

    rnd_dt = test_period_start + pd.to_timedelta(np.random.rand() * (test_period_ends - test_period_start))
    seller_ids =  list(set(sellers.seller_id))
    seller = random.choice(seller_ids)
    p = 6
    days = 60

    output = classification_bench(all_data, seller, rnd_dt, days, p)

    query = f"""PREDICT sum(order_items2.price, 0, {days}, days)>0 FOR sellers2.seller_id = '{seller}' """
    kumo_pred = model.predict(query, anchor_time=rnd_dt, verbose=False, num_hops=6)

    actual = output['actual']
    estimate_bench = 1*(output['estimate']>0)
    estimate_kumo = 1*(kumo_pred['True_PROB'].values[0]>0)

    bench_errors.append(abs(actual - estimate_bench))
    kumo_errors.append(abs(actual - estimate_kumo))

    if i % 10 == 0:
        print(i)

0
10
20
30
40
50
60
70
80
90

In [370]:
print(np.mean(bench_errors))
print(np.mean(kumo_errors))

0.41
0.64